@page "/emailconfirmation/{code}/{oib}"
@inherits EmailConfirmationBase

<h3>EmailConfirmation</h3>
<p>Your code is: @Code</p>
<p>Your email is: @Oib</p>

@if (IsValid)
{
    <p>@Message</p>
}
else
{
    <p>Validateing..</p>
}

