@layout UserSignLayout
@page "/"
@inject NavigationManager NavigationManager
@inherits HomeBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="parent-container">
    <img src="./img/logo.png" style="position: absolute; right: 0;z-index:1; width: 250px;" />

    <div class="col home home-left-side">
        @if (leftSignInOpened)
        {
            <SignIn isLeftOpened="isLeftOpened" OpenSignUp="OpenSignUp" goBack="GoBackPressed" />
        }
        else if (leftSignUpOpened)
        {
            <SignUp IsLeftOpened="isLeftOpened" OpenSignIn="OpenSignIn" GoBack="GoBackPressed" />
        }
        else
        {
            <section id="top-contact"></section>
            <img class="home-img" src="./img/illustrations/DarkWatering.png" />
            <div class="home-container container text-center">
                <h1>Nastavi kao poljoprivrednik</h1>
                <div style="width: 100%">
                    <button type="button" @onclick="OpenRightSignIn" class="btn btn-lg btn-block">Prijava</button>
                    <button type="button" @onclick="OpenRightSignUp" class="btn btn-lg btn-block">Registracija</button>
                </div>
            </div>
        }
    </div>

    <div class="col home home-right-side">
        @if (rightSignInOpened)
        {
            <SignIn isLeftOpened="isLeftOpened" OpenSignUp="OpenSignUp" goBack="GoBackPressed" />
        }
        else if (rightSignUpOpened)
        {
            <SignUp IsLeftOpened="isLeftOpened" OpenSignIn="OpenSignIn" GoBack="GoBackPressed" />
        }
        else
        {
            <img class="home-img" src="./img/illustrations/DarkNotifications.png" />
            <div class="home-container container text-center">
                <h1>Nastavi kao kupac</h1>
                <div style="width: 100%">
                    <button type="button" @onclick="OpenLeftSignIn" class="btn btn-lg btn-block">Prijava</button>
                    <button type="button" @onclick="OpenLeftSignUp" class="btn btn-lg btn-block">Registracija</button>
                </div>
            </div>
            <section id="bottom-contact"></section>
        }
    </div>
</div>