.parent-container[b-317gdq97dd] {
    display: flex;
    flex-direction: row;
}

.home[b-317gdq97dd] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

.home-left-side[b-317gdq97dd] {
    border-right: 1px solid grey;
    background-color: lightgreen;
}
.home-right-side[b-317gdq97dd] {
    border-left: 1px solid grey;
    background-color: cornsilk;
}

.home-left-side .home-container[b-317gdq97dd] {
    background-color: mediumseagreen;
}
.home-right-side .home-container[b-317gdq97dd] {
    background-color: silver;
}

.home-container[b-317gdq97dd] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    border: 2px solid #302d48;
    padding: 20px;
    border-radius: 0.3rem;
    background-color: #ccc
}
.home-container[b-317gdq97dd] {
    margin-bottom: 30px;
}
    .home-container h1[b-317gdq97dd] {
        margin-bottom: 30px;
        font-weight: 300;
    }

.home-img[b-317gdq97dd] {
    margin-bottom: -70px;
    height: 450px;
}

.btn[b-317gdq97dd] {
    border: 2px solid #302d48;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 20px;
    color: #302d48;
    text-transform: uppercase;
}
    .btn:hover[b-317gdq97dd] {
        color: white !important;
        text-decoration: none;
        background-color: #302d48 !important;
    }

    .btn:focus[b-317gdq97dd] {
        outline: none;
        box-shadow: none;
    }

@media screen and (max-width: 992px) {
    .parent-container[b-317gdq97dd] {
        flex-direction: column;
    }

    .home-left-side[b-317gdq97dd] {
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .home-right-side[b-317gdq97dd] {
        border-left: none;
        border-top: 1px solid grey;
    }

    .home-container[b-317gdq97dd] {
        transform: translate(0px, -40px);
    }
    .home-img[b-317gdq97dd] {
        margin-bottom: 0px;
        width: 100vw;
    }

    .btn[b-317gdq97dd] {
        border: none;
        background-color: #302d48;
        color: white;
        padding: 14px 28px;
        cursor: pointer;
        font-size: 20px;
    }
}