.messages_container[b-sub3ksri0b] {
    height: calc(100vh - 56px) !important;
}

.messages_chatlist[b-sub3ksri0b] {
    border-right: 1px solid #d6d5d5;
    max-height: calc(100vh - 56px);
}

.messages_chat[b-sub3ksri0b] {
}

.messages_chatlist_top[b-sub3ksri0b] {
    align-items: center;
    height: 60px;
}
    .messages_chatlist_top h3[b-sub3ksri0b] {
        align-items: center;
        display: flex;
    }

    .messages_chatlist_top .unread_messages[b-sub3ksri0b] {
        display: flex;
        height: 24px;
        width: 24px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #302d48;
        color: white;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

.messages_chatlist_filters[b-sub3ksri0b] {
    height: 60px;
    align-items: center;
}

.add_button[b-sub3ksri0b] {
    background-color: var(--mud-palette-primary);
}

.messages_chat_box[b-sub3ksri0b] {
    height: 80px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
}
    .messages_chat_box:hover[b-sub3ksri0b] {
        cursor: pointer;
    }

    .messages_chat_box .image .author_image[b-sub3ksri0b] {
        width: 60px;
        border-radius: 50%;
    }
    .messages_chat_box .message[b-sub3ksri0b] {
        width: 73%;
    }

    .settings_and_unread[b-sub3ksri0b] {
        align-self: flex-start;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }

    .messages_chat_box .unread_messages[b-sub3ksri0b] {
        background-color: #302d48;
        color: white;
        font-weight: 300;
        border-radius: 50%;
        align-self: center;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
    }
    .messages_chat_box .messages_settings[b-sub3ksri0b] {
    }
    .notseen[b-sub3ksri0b] {
        background-color: #ADADAD;
    }
    .notseen:hover[b-sub3ksri0b] {
        background-color: #8FB792;
    }
.seen[b-sub3ksri0b] {
    background-color: lightgray;
}
    .seen:hover[b-sub3ksri0b] {
        background-color: #A3EA9A;
    }

[b-sub3ksri0b] .mud-list-item-clickable:hover {
    background-color: lightblue;
}