@page "/marketplace"
@layout MainLayout

<h3>Marketplace</h3>
<a href="https://www.behance.net/gallery/114088219/-UI-UX-for-Marketplace?tracking_source=search_projects_recommended%7Cmarketplace">Design 1</a>
<a href="https://www.behance.net/gallery/60103275/User-Profile-Interface-Design?tracking_source=search_projects_recommended%7Cuser%20profile">Design 2</a>


@code {

}
