@import '';

/* /Pages/Messages.razor.rz.scp.css */
.messages_container[b-sub3ksri0b] {
    height: calc(100vh - 56px) !important;
}

.messages_chatlist[b-sub3ksri0b] {
    border-right: 1px solid #d6d5d5;
    max-height: calc(100vh - 56px);
}

.messages_chat[b-sub3ksri0b] {
}

.messages_chatlist_top[b-sub3ksri0b] {
    align-items: center;
    height: 60px;
}
    .messages_chatlist_top h3[b-sub3ksri0b] {
        align-items: center;
        display: flex;
    }

    .messages_chatlist_top .unread_messages[b-sub3ksri0b] {
        display: flex;
        height: 24px;
        width: 24px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #302d48;
        color: white;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

.messages_chatlist_filters[b-sub3ksri0b] {
    height: 60px;
    align-items: center;
}

.add_button[b-sub3ksri0b] {
    background-color: var(--mud-palette-primary);
}

.messages_chat_box[b-sub3ksri0b] {
    height: 80px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
}
    .messages_chat_box:hover[b-sub3ksri0b] {
        cursor: pointer;
    }

    .messages_chat_box .image .author_image[b-sub3ksri0b] {
        width: 60px;
        border-radius: 50%;
    }
    .messages_chat_box .message[b-sub3ksri0b] {
        width: 73%;
    }

    .settings_and_unread[b-sub3ksri0b] {
        align-self: flex-start;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }

    .messages_chat_box .unread_messages[b-sub3ksri0b] {
        background-color: #302d48;
        color: white;
        font-weight: 300;
        border-radius: 50%;
        align-self: center;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
    }
    .messages_chat_box .messages_settings[b-sub3ksri0b] {
    }
    .notseen[b-sub3ksri0b] {
        background-color: #ADADAD;
    }
    .notseen:hover[b-sub3ksri0b] {
        background-color: #8FB792;
    }
.seen[b-sub3ksri0b] {
    background-color: lightgray;
}
    .seen:hover[b-sub3ksri0b] {
        background-color: #A3EA9A;
    }

[b-sub3ksri0b] .mud-list-item-clickable:hover {
    background-color: lightblue;
}
/* /Pages/NotFound.razor.rz.scp.css */
.div_container[b-cpntswcwjj] {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.jumbotron[b-cpntswcwjj] {
    background-color: inherit;
    text-align: center;
    padding-top: 0;
    margin-top: -30px;
}

img[b-cpntswcwjj] {
    width: 40%;
}

@media only screen and (max-width: 1600px) {
    img[b-cpntswcwjj] {
        width: 45%;
    }
}
@media only screen and (max-width: 1200px) {
    img[b-cpntswcwjj] {
        width: 60%;
    }
}
@media only screen and (max-width: 992px) {
    img[b-cpntswcwjj] {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    img[b-cpntswcwjj] {
        width: 80%;
    }
}
@media only screen and (max-width: 576px) {
    img[b-cpntswcwjj] {
        width: 90%;
    }
    .display-4[b-cpntswcwjj] {
        font-size: 3.0rem;
    }
}
/* /Pages/UserSign/Home.razor.rz.scp.css */
.parent-container[b-317gdq97dd] {
    display: flex;
    flex-direction: row;
}

.home[b-317gdq97dd] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

.home-left-side[b-317gdq97dd] {
    border-right: 1px solid grey;
    background-color: lightgreen;
}
.home-right-side[b-317gdq97dd] {
    border-left: 1px solid grey;
    background-color: cornsilk;
}

.home-left-side .home-container[b-317gdq97dd] {
    background-color: mediumseagreen;
}
.home-right-side .home-container[b-317gdq97dd] {
    background-color: silver;
}

.home-container[b-317gdq97dd] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    border: 2px solid #302d48;
    padding: 20px;
    border-radius: 0.3rem;
    background-color: #ccc
}
.home-container[b-317gdq97dd] {
    margin-bottom: 30px;
}
    .home-container h1[b-317gdq97dd] {
        margin-bottom: 30px;
        font-weight: 300;
    }

.home-img[b-317gdq97dd] {
    margin-bottom: -70px;
    height: 450px;
}

.btn[b-317gdq97dd] {
    border: 2px solid #302d48;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 20px;
    color: #302d48;
    text-transform: uppercase;
}
    .btn:hover[b-317gdq97dd] {
        color: white !important;
        text-decoration: none;
        background-color: #302d48 !important;
    }

    .btn:focus[b-317gdq97dd] {
        outline: none;
        box-shadow: none;
    }

[b-317gdq97dd] .naslov {
    font-weight: 300;
    font-size: 50px;
}

@media screen and (max-width: 992px) {
    .parent-container[b-317gdq97dd] {
        flex-direction: column;
    }

    .home-left-side[b-317gdq97dd] {
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .home-right-side[b-317gdq97dd] {
        border-left: none;
        border-top: 1px solid grey;
    }

    .home-container[b-317gdq97dd] {
        transform: translate(0px, -40px);
    }
    .home-img[b-317gdq97dd] {
        margin-bottom: 0px;
        width: 100vw;
    }

    .btn[b-317gdq97dd] {
        border: none;
        background-color: #302d48;
        color: white;
        padding: 14px 28px;
        cursor: pointer;
        font-size: 20px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zvhpk9gg6e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-zvhpk9gg6e] {
    flex: 1;
}

.sidebar[b-zvhpk9gg6e] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #302d48;
}

.top-row[b-zvhpk9gg6e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zvhpk9gg6e]  a, .top-row .btn-link[b-zvhpk9gg6e] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-zvhpk9gg6e] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zvhpk9gg6e] {
        display: none;
    }

    .top-row.auth[b-zvhpk9gg6e] {
        justify-content: space-between;
    }

    .top-row a[b-zvhpk9gg6e], .top-row .btn-link[b-zvhpk9gg6e] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zvhpk9gg6e] {
        flex-direction: row;
    }

    .sidebar[b-zvhpk9gg6e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zvhpk9gg6e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    /*
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    */
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zuznvutm82] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zuznvutm82] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zuznvutm82] {
    font-size: 1.1rem;
}

.oi[b-zuznvutm82] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zuznvutm82] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zuznvutm82] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zuznvutm82] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zuznvutm82]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zuznvutm82]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zuznvutm82]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zuznvutm82] {
        display: none;
    }

    .collapse[b-zuznvutm82] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
