@inherits MainLayoutBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <MudMenu Label="@FullName" Variant="Variant.Filled" Color="Color.Primary" Direction="Direction.Bottom" OffsetY="true"  FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowDropDown">
                <MudMenuItem Link="/profile">Profile</MudMenuItem>
                <MudMenuItem Link="/settings">Settings</MudMenuItem>
                <MudMenuItem OnClick="Logout">Logout</MudMenuItem>
            </MudMenu>
        </div>

        <div>
            @Body
        </div>
    </div>
</div>