@layout MainLayout
@inherits MyOrdersBase

<MudText Align="Align.Center" Typo="Typo.h5">My Orders</MudText>

<MudPaper Class="pa-16 m-auto mt-3" Style="width: 80vw;" Elevation="10">
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Products</th>
                <th class="text-center">Price</th>
                <th class="text-center">View more</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Orders.Count; i++)
            {
                int locale = i;
                int num = i + 1;
                <tr>
                    <td>@num.</td>
                    <td>@Orders[i].FromDate</td>
                    <td>
                        @if (Orders[i].CartItems != null)
                        {
                            string titles = "";
                            for(var j = 0; j < Orders[i].CartItems.Count(); j++)
                            {
                                if(j + 1 != Orders[i].CartItems.Count())
                                {
                                    titles += Orders[i].CartItems[j].Product.Title + ", ";
                                }
                                else
                                {
                                    titles += Orders[i].CartItems[j].Product.Title;
                                }
                            }
                            @titles
                        }
                    </td>
                    <td class="text-center">@Orders[i].Price$</td>
                    <td class="text-center"><MudIconButton Icon="@Icons.Material.Filled.Visibility" Color="Color.Primary" OnClick="() => OpenDialog(Orders[locale])"/></td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudPaper>
